body {
    font-family: monospace;
    background-color: #734444;
    background-image: url("../kristen-kaethler-lrfpHmuYj88-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}